html,
body {
  padding: 0;
  margin: 15px 0;
}
.container {
  width: 55%;
  margin-left: 25%;
  border: black solid 1px;
}
#bloc {
  display: flex;
}
#cv {
  width: 80%;
}

/* Form Aside */

#bloc > aside {
  background-color: #318ce7;
  width: 30%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}
#moi {
  margin: 30px 0;
}
#moi > div:first-child {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
#moi > div:first-child > img {
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 150px;
  height: 140px;
  margin: 0;
}
.prog {
  margin-left: 40px;
}
.prog > h2 {
  font-size: 1rem;
  color: #ffffff;
  letter-spacing: 0.1rem;
  font-family: "Open Sans Condensed", roboto, sans-serif;
  margin: 0;
}
.prog > h2:hover {
  color: rgb(4, 0, 255);
}
.prog > hr {
  width: 37px;
  margin: 3px 0 0 0;
  background-color: #ffffff;
  height: 2px;
  border: none;
}
.prog > ul {
  padding: 0 0 0 15px;
}
.liste {
  list-style-type: none;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
}
.liste > h4 {
  margin: 0;
}
.liste > span {
  color: #ffffff;
  font-weight: 400;
}
.site {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #ffffff;
}
.site:hover {
  color: rgb(4, 0, 255);
}
.site > h4 {
  font-weight: 400;
  margin: 20px 0 0 15px;
}
.site > i {
  margin: 20px 0 0 0;
  font-size: 1.3rem;
}
.far.fa-circle {
  color: #005c96;
}
.fas.fa-circle {
  color: #ffffff;
}
.fas.fa-circle:hover {
  color: #005c96;
}

/* Form Header*/

#cv > header {
  display: flex;
  justify-content: flex-end;
}
#header {
  text-align: center;
  width: 100%;
}
#header > h1 {
  font-weight: 700;
  font-size: 2.5em;
  margin-bottom: 0;
  font-family: "Open Sans Condensed", roboto, sans-serif;
}
#header > h3 {
  font-weight: 700;
  margin-top: 0;
  font-family: "Open Sans Condensed", roboto, sans-serif;
}
#header > h3 > span {
  font-weight: 700;
  margin-top: 0;
  color: #318ce7;
  text-align: end;
  font-family: "Open Sans Condensed", roboto, sans-serif;
}
#header > h3 > span:hover {
  color: #005c96;
}
#header > div > hr {
  width: 115%;
  margin-left: 2.5%;
  background-color: black;
  border: none;
  height: 2px;
}
#header > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 30px 0 0 15px;
  width: 120%;
}
.profile {
  margin-right: 10px;
  padding-right: 10px;
  font-family: "Heebo", sans-serif;
}
.profile > span {
  font-weight: 700;
}
.border {
  border-right: solid 1px;
}
#link {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 185px;
}
#link > a {
  font-size: 1.5rem;
  color: #318ce7;
  border: solid 1px black;
  box-shadow: #e0cfc2 3px 3px 3px;
  padding: 8px 10px 5px 10px;
  margin-right: 20px;
}
#link > a:hover {
  color: #005c96;
}

/* Form CV*/

#competence {
  margin-top: 30px;
}
.titre {
  text-align: center;
  font-size: 1.3rem;
  color: #318ce7;
  margin: 0;
  font-family: "Open Sans Condensed", roboto, sans-serif;
}
.titre:hover {
  color: rgb(4, 0, 255);
}
.fin {
  width: 95%;
  margin: 2% 0 0 2.5%;
  background-color: black;
  border: none;
  height: 2px;
}
.sous-titre {
  width: 37px;
  background-color: black;
  height: 2px;
  border: none;
  margin-top: 3px;
}
#liste-competence {
  padding: 0;
  margin-left: 55px;
}
#liste-competence > li {
  padding-left: 5px;
  margin-bottom: 10px;
  font-family: "Heebo", sans-serif;
}
.liste-cv {
  list-style-type: none;
  padding: 0;
  margin-left: 42px;
}
.liste-cv > li {
  display: flex;
  flex-direction: row;
  font-family: "Heebo", sans-serif;
}
.date {
  width: 20%;
  padding-top: 16px;
}
.lieu {
  width: 507px;
  text-align: justify;
  margin: 15px 0;
}
.lieu > p {
  margin: 5px 0 0 0;
}
#mention {
  color: #318ce7;
}
#formation,
#experience {
  margin-top: 30px;
}

#loisir {
  margin-top: 20px;
}

#loisir > div {
  display: flex;
  justify-content: space-around;
}
#loisir > div > i {
  font-size: 250%;
  margin-top: 20px;
}
#loisir > div > i:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Responsive */

@media screen and (max-width: 400px) {
  body,
  html {
    margin: 0;
  }
  .container {
    width: 100%;
    margin: 0;
  }
  #bloc {
    display: flex;
    flex-direction: column-reverse;
  }
  #bloc > aside {
    width: 100%;
  }
  #cv {
    width: 100%;
  }
  #cv > header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #header > ul {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  .profile {
    margin: 0;
    padding: 0;
  }
  .border {
    border-right: none;
  }
  #header > div > hr {
    width: 50%;
    margin: 0 0 15px 80px;
  }
  #link {
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 80px;
  }
  #link > a:nth-child(2) {
    margin: 0;
  }
  #competence,
  #formation,
  #experience {
    margin-top: 20px;
  }
  #loisir {
    margin: 20px 0 50px 0;
  }
  #liste-competence {
    list-style-type: none;
    text-align: center;
    margin-left: 0;
  }
  #liste-competence > li {
    font-size: 0.9rem;
  }
  .fin {
    width: 50%;
    margin: 0 0 15px 80px;
  }
  .liste-cv {
    margin-left: 0;
    text-align: center;
  }
  .liste-cv > li {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .date {
    width: 100%;
    text-align: center;
  }
  .lieu {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 800px) and (min-width: 401px) {
  body,
  html {
    margin: 0;
    padding: 0;
  }
  .container {
    width: 99%;
    margin: 3px;
  }
  #bloc {
    flex-direction: column-reverse;
  }
  #cv {
    width: 100%;
  }
  #header > ul {
    margin-left: 0;
  }
  #loisir {
    margin-bottom: 30px;
  }
  #bloc > aside {
    width: 100%;
  }
  .prog {
    margin-left: 180px;
    font-size: 1.5rem;
  }
  .prog > h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 800px) {
  body,
  html {
    margin: 0;
    padding: 0;
  }
  .container {
    width: 99%;
    margin: 3px;
  }
  #header > ul {
    margin: 0;
  }
}
@media screen and (max-width: 1780px) and (min-width: 1320px) {
  .container {
    width: auto;
    margin: 0 18%;
  }
  #header > ul {
    max-width: 110%;
  }
  #header > div > hr {
    width: 115%;
  }
}
@media screen and (max-width: 1320px) and (min-width: 1024px) {
  html,
  body {
    margin: 0;
    padding: 0;
  }
  .container {
    margin: 15px 25px;
    width: 95%;
  }
}
@media screen and (max-width: 828px) and (min-width: 801px) {
  #bloc {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  #cv {
    width: 100%;
    margin-bottom: 50px;
  }
  #bloc > aside {
    width: 100%;
  }
  #moi > div:first-child > img {
    width: 200px;
    height: 190px;
  }
  .prog {
    margin-left: 60px;
    font-size: 2rem;
  }
  .prog > h2 {
    font-size: 3rem;
  }
}
